@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
#home {
  background-color: aqua;
  text-align: center;
  width: 700px;
  height: 300px;
  margin: auto;
  margin-top: 300px;
  border-radius: 5%;
}

.home-page {
  background-image: url("https://i.imgur.com/8H9eVhv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
  margin: 0;
}
.homepage-h1 {
  display: flex;
  color: white;
  justify-content: center;
}

.intro-div {
  height: 500px;
  width: 100%;
  padding-top: 100px;
  color: white;
  text-align: center;
}

.homepage-h1 {
  margin: 0;
  font-family: "Megrim", cursive;
  font-size: 100px;
  /* text-align: center; */
}

.header-template {
  display: flex;
  height: 400px;
  flex-basis: 100%;
}
/* .contact-container {
  width: 100%;
  display: flex;
  flex-direction: row;
} */

#contact-header {
  background-image: url("https://i.imgur.com/eVwQMWl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#show-header {
  background-image: url("https://i.imgur.com/ONH1CIa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
#about-header {
  background-image: url("https://i.imgur.com/VSBo8UF.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
.pic-test {
  background-image: url("https://i.imgur.com/5i93lwO.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 1050px;
}

/* .text {
  width: 500px;

  height: 300px;
} */

/* .break {
  height: 350px;
  width: 200px;
  background-color: rosybrown;
} */
