@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

#home {
  background-color: aqua;
  text-align: center;
  width: 700px;
  height: 300px;
  margin: auto;
  margin-top: 300px;
  border-radius: 5%;
}

.home-page {
  background-image: url("https://i.imgur.com/8H9eVhv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
  margin: 0;
}
.homepage-h1 {
  display: flex;
  color: white;
  font-family: "Megrim", cursive;
  font-size: 100px;
  margin: 0;
  justify-content: center;
}

.intro-div {
  height: 500px;
  width: 100%;
  padding-top: 100px;
  color: white;
  text-align: center;
}

.header-template {
  display: flex;
  height: 400px;
  flex-basis: 100%;
}
/* .contact-container {
  width: 100%;
  display: flex;
  flex-direction: row;
} */

#contact-header {
  background-image: url("https://i.imgur.com/eVwQMWl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#contact-page-title {
  font-size: 50px;
}
#contact-page-title:hover {
  color: goldenrod;
  text-decoration: underline;
}

#show-header {
  background-image: url("https://i.imgur.com/ONH1CIa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
#about-header {
  background-image: url("https://i.imgur.com/VSBo8UF.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#about-page-title {
  font-size: 50px;
}
#about-page-subheader {
  color: white;
  font-family: "Megrim", cursive;
  text-decoration: underline;
}
#about-page-title:hover {
  color: goldenrod;
  text-decoration: underline;
}
#review-header {
  background-image: url("https://i.imgur.com/RD7Bv8A.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-container {
  display: flex;
  background-color: #07060b;
  justify-content: flex-end;
}

.content {
  font-size: 30px;
  width: 100%;
  color: #bdbdbd;
}
.break {
  height: 350px;
  width: 250px;
  background-color: #07060b;
}
/* #aboutMe-pic3 {
} */
#showPageBreak {
  height: 400px;
  width: 10px;
  background-color: white;
}

#pic-div {
  align-self: flex-end;
}

#pic-test {
  background-image: url("https://i.imgur.com/5i93lwO.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 50%;
}
/* ============SHOW PAGE================ */
#show-page-title {
  font-size: 50px;
}
#show-page-title:hover {
  color: goldenrod;
  text-decoration: underline;
}
#title-featured {
  color: #07060b;
  text-align: center;
  text-decoration: underline;
}
.show-photos {
  display: flex;
  height: 400px;
  width: 100%;
  padding-top: 5px;
  justify-content: center;
  /* background-color: coral; */
}
.show-photos2 {
  display: flex;
  justify-content: center;
}
#show-pic5 {
  display: flex;
  width: 600px;
  height: 1000px;
  /* padding-left: 20px; */
  background-image: url("https://i.imgur.com/FRkU1GA.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
}
#show-pic6 {
  width: 830px;
  height: 1000px;
  margin-top: 5px;
  background-image: url("https://i.imgur.com/HpwOgKF.jpg");
}
#mid-break {
  width: 10px;
  height: 1000px;
  background-color: white;
}

.show-photos3 {
  display: flex;
  justify-content: center;
  width: 100%;
}
#show-pic7 {
  background-image: url("https://i.imgur.com/AUBEao2.jpg");
  /* height: 400px; */
  width: 1080px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 5px;
}
#bottomBreak {
  height: 410px;
  width: 10px;
  background-color: white;
}
#show-pic8 {
  background-image: url("https://i.imgur.com/tEETLFC.jpg");
  /* height: 400px; */
  width: 350px;
  margin-top: 5px;
}

/* ===============REVIEW PAGE================= */
#reviewer-title {
  text-decoration: underline;
}

#review-div {
  background-color: white;
  border-radius: 10px;
  width: 800px;
  font-size: 18px;
  margin-left: 300px;
}
#review-page-title {
  font-size: 50px;
}
#reivew-title2 {
  text-align: center;
  font-family: "Megrim", cursive;
  font-size: 100px;
  color: white;
  margin-top: 0;
  text-decoration: underline;
}
#review-page-title:hover {
  color: goldenrod;
  text-decoration: underline;
}
#review-header-title {
  margin-top: 100px;
  margin-left: 250px;
}
#review-background {
  background-color: #010006;
}
/* ===============CONTACT PAGE================= */
#contact-us {
  color: white;
  text-align: center;
  margin-top: 200px;
  margin-left: 190px;
}
form {
  text-align: center;
  height: 500px;
  background-color: black;
}
.input {
  width: 200px;
  border-radius: 12px;
  height: 30px;
  border-width: 5px;
  border-color: white;
}
.input:hover {
  background-color: goldenrod;
  border-color: none;
}
#text-area {
  margin-top: 10px;
  width: 400px;
  height: 100px;
  border-radius: 12px;
  border-width: 5px;
}
#text-area:hover {
  background-color: goldenrod;
}
#input1 {
  margin-right: 20px;
}
#first-name {
  margin-right: 250px;
  font-size: 20px;
}
#last-name {
  font-size: 20px;
}
#input3 {
  margin-top: 10px;
  margin-right: 20px;
}
#email {
  margin-right: 350px;
}

/* =========REVIEW PAGE=============== */
/* #review-page-title {
  font-size: 50px;
}
#reivew-title2 {
  text-align: center;
}
#review-page-title:hover {
  color: goldenrod;
  text-decoration: underline;
}
#review-header-title {
  margin-top: 100px;
  margin-left: 250px;
} */
/* ==================NAVIGATION=========== */
nav ul {
  list-style: none;
}
nav li {
  display: inline;
}
#about-nav,
#show-nav,
#review-nav,
#contact-nav {
  margin-top: 0;
  margin-left: 800px;
}
